---
import { GetCountdown } from "#hooks/countdown";
import { GetSocials, type Social } from "#hooks/social";
import IconButton from "../components/IconButton.astro";
import Layout from "../layouts/Layout.astro";

const socials: Social[] = await GetSocials();
---

<head>
  <meta property="og:title" content="OneShot 3D" />
  <meta property="og:description" content="Coming soon...\n -alex" />
</head>

<Layout centeredItems={true} efxEnabled={true} extraClass="bg-radial from-[#281328]/75 to-black">

  <audio hidden loop autoplay id="bgm">
    <source src="/audio/countdown.mp3" type="audio/mpeg"/>
  </audio>




    <span class="text-[42px] font-black w-full" id="countdown"></span>
    <div class="flex flex-row w-full flex-wrap justify-center items-center">
      {socials?.map((social: Social) => (
        <IconButton href={social.url} icon={social.social} alt={social.display_name} />
      ))}
    </div>
  </div>
</Layout>
<script>

  var htmlAudioElement = document.getElementById("bgm")!;
  htmlAudioElement.volume! = 0.2;

  import type { Countdown } from "#hooks/countdown";
  import { GetCountdown } from "#hooks/countdown";

  function generateTick() {
    const audio = new Audio("/audio/sfx/tick.wav");
    audio.volume = 0.45;
    audio.play();
  }

  const timer = document.getElementById("countdown")!;
  const data: Countdown = await GetCountdown();

  if (!data.enabled) {
    timer.textContent = data.countdown_target.toString();
  } else {
    const targetTime = data.countdown_target  * 1000; // convert to ms
    generateTick();
    function updateCountdown() {
      const remaining = Math.floor((targetTime - Date.now()) / 1000);

      if (remaining <= 0) {
        window.location.reload();
        return;
      }

      const d = Math.floor(remaining / 86400);
      const h = Math.floor((remaining % 86400) / 3600);
      const m = Math.floor((remaining % 3600) / 60);
      const s = remaining % 60;

      timer.textContent = d > 0
        ? `${d}:${h.toString().padStart(2, '0')}:${m.toString().padStart(2, '0')}:${s.toString().padStart(2, '0')}`
        : `${h.toString().padStart(2, '0')}:${m.toString().padStart(2, '0')}:${s.toString().padStart(2, '0')}`;
      generateTick();
        
    }

    updateCountdown();
    setInterval(updateCountdown, 1000); 
  }
</script>